* {
	font-family: sans-serif;
}

body {
	margin: 0;
}

.article__more {
	text-decoration: none;
	color: black;
	transition: all .3s ease-in-out;
}

.article__more:hover {
	border-bottom: 1px dotted #000000;
	transition: all .3s ease-in-out;
	color: #fff;
}

.article {
	line-height: 27px;
	height: 185px;
	color: black;
	background-color: #ccc;
	border: 1px dashed #000;
	margin: 30px 30px 30px 30px;
	padding: 10px 30px 10px 30px; 
}
.article__link {
	color: black;
}

.header { 
	text-align: center;
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5; 
	min-height:150px;
	padding:40px 0px 40px 0px; 
}

.main {
	color: black;
	background-color: #ccc;
	border: 1px dashed #000;
	margin: 30px 30px 30px 30px;
	padding: 10px 30px 10px 30px;
}

.footer {
	color :black;
	padding: 15px 15px 15px 15px;
	border-top: 1px solid #000;
	background-color: #e5e5e5;
	
}
